.create{
    width: 140px;
    height: 40px;
    background-color: #ccc;
    border:1px solid #777;
    border-radius: 0;
    margin: 50px auto;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















